*{

margin: 0%;
padding: 0%;
}
.parent{
    background-color: rgb(84, 104, 202);
    height: 100vh;
    width: 100%;
    position: absolute;
}
.main{
    position: relative;
    height: 50%;
    width: 50%;
    background-color: aqua;
    align-items: center;
    margin-left: 25%;
    margin-top: 10%;
    padding: 25px;
    
}
.b1{
color: #000;
/* background-color: rgb(12, 49, 51); */
}
h1{
    color: #8809d2;
    align-items: center;
    text-align: center;
}
.f{
    /* margin-top: 50%; */
}